* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto"; 
}

.app {
  width: 100%;
  position: relative;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"%3E%3Cdefs%3E%3CradialGradient id="radialGradient" cx="0%25" cy="0%25" r="100%25"%3E%3Cstop offset="0%25" style="stop-color:rgba(255,100,51,0.12);" /%3E%3Cstop offset="25%25" style="stop-color:rgba(255,100,51,0.69);" /%3E%3Cstop offset="52%25" style="stop-color:rgba(10,10,64,0.86);" /%3E%3Cstop offset="79%25" style="stop-color:rgba(133,133,160,0.93);" /%3E%3Cstop offset="100%25" style="stop-color:rgba(255,255,255,1);" /%3E%3C/radialGradient%3E%3C/defs%3E%3Crect x="0" y="0" width="100" height="100" fill="url(%23radialGradient)" /%3E%3Crect x="0" y="0" width="100" height="100" fill="rgba(255,255,255,0.75)" /%3E%3C/svg%3E');
  background-size: cover;
  background-attachment: fixed;
  hyphens: auto;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  max-height: 80px;
  padding: 0 20px;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.main {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.progress {
  border-radius: 10px;
  height: 20px;
  width: 600px;
  background-color: #f5f5f5;
  position: relative;
}

.progress-filled {
  position: absolute;
  border-radius: 10px;
  height: 20px;
  width: 600px;
  left: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 300;
  transition: all 0.25s ease-in-out;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  margin-top: 40px;
  color: #06331a;
  margin-bottom: 30px;
  text-align: center;
  height: 3em;
}

.options {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  height: 450px;
  width: 420px;
  flex: 1 1 0px;
}

.quiz-option {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border-radius: 10px;
  background-color: #0aa50a;
  cursor: pointer;
  border: 2px solid transparent;
}

.quiz-option.active {
  border: 3px solid #007f00;
}

.option-text {
  color: white;
  font-size: 18px;
}

.action-buttons {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
}

.action-buttons div {
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  color: white;
  border-radius: 10px;
  background-color: black;
  padding: 10px 30px;
}

.go-btn {
  margin-left: auto;
}

.go-btn.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.postal-code-container {
  height: 60px;
  display: flex;
  background: white;
  border-radius: 10px;
  width: 400px;
  overflow: hidden;
}

.geo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 30px;
}

.geo-icon img {
  height: 25px;
}

.postal-input {
  border: none;
  outline: none;
  height: 60px;
  width: 370px;
  padding-left: 10px;
}

.postal-approve {
  width: 400px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  background-color: #18ab18;
  color: white;
  border-radius: 10px;
}

.preloader {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.preloader-text {
  text-align: center;
  font-size: 22px;
}

.final-form {
  width: 800px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-form  h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-fields {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.form-field {
  width: 100%;
}

.form-input {
  width: 100%;
  background-color: white;
  height: 60px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 15px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

input {
  font-family: Roboto;
}

.form-input:not(.PhoneInput) input {
  height: 100%;
  outline: none;
  border: none;
  width: 80%;
  font-size: 20px;
}

.form-input > img {
  height: 50%;
  margin-right: 20px;
}

.form-input.error {
  border-color: red;
}

.final-submit {
  margin-top: 20px;
}

.form-error {
  margin-top: 5px;
  color: red;
}

.final-submit {
  cursor: pointer;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18ab18;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 40px;
}

.PhoneInputInput {
  outline: none;
  border: none;
  font-size: 20px;
}

.bottom-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 80px;
}

.bottom-item {
  display: flex;
  align-items: center;
}

.bottom-item img {
  height: 25px;
  margin-right: 15px;
}

.bottom-icons {
  margin-top: 30px;
}

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
  column-gap: 5px;
}

.footer a {
  text-decoration: none;
  color: #939191;
}

.first-screen-btn {
  margin-top: 30px;
  cursor: pointer;
  height: 40px;
  padding: 0 40px;
  border-radius: 10px;
  color: white;
  background-color: #18ab18;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 870px) {
  .bottom-icons {
    flex-direction: column;
    row-gap: 30px;
  }

  .progress {
    width: 80vw;
  }

  .progress-filled {
    width: 80vw;
  }
}

@media screen and (max-width: 1000px) {
  .final-form {
    width: 70vw;
  }
}

@media screen and (max-width: 550px) {
  .header {
    height: 60px;
  }

  .header img {
    height: 30px;
  }

  .main {
    padding: 30px 15px;
  }

  .question {
    font-size: 22px;
    padding: 0 15px;
  }

  .quiz-option  {
    width: 85vw;
  }

  .final-form {
    width: 85vw;
  }

  .action-buttons {
    width:85vw;
  }

  .options {
    width: 85vw;
  }

  .postal-input {
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  .postal-form {
    width: 85vw;
  }

  .postal-code-container {
    width: 100%;
  }

  .postal-input {
    width: 80%;
  }

  .postal-approve {
    width: 100%;
  }

  .form-fields {
    width: 85vw;
  }

  .final-submit {
    width: 85vw;
  }

  .quiz {
    margin-top: 15px;
  }
}